.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

 body, html {
  height: 100%;
}
.bg {
  /* The image used */
    /* Full height */
  height: 500px;

  /* Center and scale the image nicely */
    background-image: url("../1.jpg");
    background-size:cover;
}
.section4 {background-color: #F9F9F9;
           width: 100%;}

.fa-xbox {text-align: center; 
           color: #3333CC;
              font-size: 40px;
   padding-left: 40%;
}

.blok {margin-top: 30px;
       margin-bottom: 30px;
}
.blok1 {margin-top: 30px;
       margin-bottom: 30px;
}

.fa-steam ,.fa-instagram, 
.fa-html5, .fa-github, .fa-dropbox,  
.fa-cloud-download-alt, .fa-cube, .fa-users, 
.fa-newspaper
 {text-align: center; 
           color: #3333CC;
              font-size: 40px;
   padding-left: 40%;
}


.section5 { background-color: #F2F2F2; 
          width: 100%;
          }

.empty {height:  150px;}
.empty2 {height:  100px;}

.iphone {width: 350px;
          height: 500px;
}
.section6 {background-color: #FFFFFF;}
.row1 {margin-top: 110px;}

.smtext {font-size: 14px; 
          margin-top: 25px;
          margin-bottom: 75px;
          line-height: 1.7;
  }

.card1:hover { cursor:pointer; 
                 box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.2);
                 text-shadow:  2px 2px rgba(0, 0, 0, 0.2);}

.card1 {align-content: center;
  height: 600px;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0,0.2);}
.card2 {align-content: center;
  height: 650px;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0,0.2);
margin-bottom: 25px;}
.card2:hover { cursor:pointer; 
                 box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.2);
                 text-shadow:  2px 2px  rgba(0, 0, 0,0.2);}

.button { background-color: #3333cc;
           color: white; 
           width: 100px;
}
.button:hover  { background-color: white ;
           color: #3333cc; } 


.text1, .text2, .text3, .text4 {margin-top: 30px;}

.text3 {text-align: center;
  line-height: 2.6;
          width: 190px;

    margin-left: 70px;
}

.col-2 {    bottom: 13px;
}
.section7 {background-color: #F4F4F4;
width: 100%;
align-content: center;}
.img-circle1 {width: 100px;
                height: 100px;}


.row-mine {margin-left: 46%;
            padding-top: 100px;}


.fa-star {color:gold;}

.row2 {margin-bottom: 150px;}

.bg1 {background-image: url("../3.jpg");
width: 100%;
height: 100%;}
.text5 { color: white;
         margin-top: 250px; 
         margin-bottom: 20px;}
.text6 {color: white;  
         margin-top: 10px;
         margin-bottom: 50px;}

.input1 {height:  40px;
          border-radius: 10px;}

.btn1 { background-color: #3333cc;
         margin-top: 2px;
         border-color: white; }

.btn:hover {background-color: #3333cc;
             border-color:#3333cc; }

.btn:visited {background-color: #3333cc;
             border-color:#3333cc; }
 .btn:active {background-color: #3333cc;
             border-color:#3333cc; }  

.text7 {color: grey;
         margin-bottom: 40px;
         margin-top: 40px;}

.col1 { margin-left: 40px;
        margin-top: 50px;}
.footer-copyright, .fa-comment-alt {color: #3333cc;}

.fa-comment-alt {font-size: 40px;}

.col2 {margin-top: 50px;}
.text8{color: #3333cc;}
.text9 {color: grey;
         margin-bottom: 30px;
         margin-top: 30px;}
.text81{color: #3333cc;
         cursor: pointer;}

.modal-body, .modal-title {width: 450px;
             height: 350px;
             }

.modal-title {width: 450px;
  height:100px;
   font-size: 24px;

   }
    
.modal-content { 
                align-content: center;
              width: 450px;
            background-color: #3333cc;
                  margin: 0 auto;}

.modal-header {border-bottom: none}
.form-control {
                width: 410px;
                margin-top: 5px;
               margin-bottom: 5px;
               padding: 5px;
               height: 50px;

               }
.btn-default  {margin-top: 200px;
               margin-bottom: 5px;
               padding: 5px;
               height: 50px;
               border-radius: unset;
                background-color: #3333cc;
                color:white;
                 width: 130px;}

.btn-default:hover {background-color: black;
                       color:white;}
.text11 {color: white}



/*for small screens*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

  .modal {
    
  }





}

.answer {
    border: 2px solid black;
border-radius: 25px;
background-color: #080808;
    color: white;
height: 50px;
padding: 0 auto;}
.answer:hover{background-color: #3e8f3e;}
.changedclass {
    border: 2px solid black;
    border-radius: 25px;
    background-color: yellow;
    color: white;
    height: 50px;
    padding: 0 auto;}
.answer:hover{background-color: #3e8f3e;}

.click {background-color: yellow;}

.selected {
    border: 2px solid black;
    border-radius: 25px;
    background-color: yellow;
    color: black;
    height: 50px;
    padding: 0 auto;}