/*for small screens*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

  .modal {
    display: none;
  }





}


@media screen and  (max-width: 768px){



body {margin: 0;
      padding: 0;}

.main {font-size: 20px}








}

